11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. The, use the interactive interpreter to import zoo module and call its hours() function.

In [2]:
"""
Last modified on Wed Feb 21 13:09:04 2024
zoo.py
Author: Samantha Lopez
prints string that says "Open 9-5 daily"
"""

def hours():
    print("Open 9-5 daily")

In [3]:
import zoo

hours()

Open 9-5 daily

11.2 In the interactive interpreter, import the zoo module as menagerie ad call its hours() function.

In [4]:
import zoo as menagerie

hours()

Open 9-5 daily

16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\saman\appdata\local\programs\python\python312\lib\site-packages (2.0.27)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\saman\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\saman\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.0.3)

In [2]:
import sqlalchemy as sa

In [4]:
engine = sa.create_engine('sqlite:///books.db')

connection = engine.connect()

query = sa.text("SELECT title FROM books ORDER BY title ASC")

result = connnection.execute(query)
for row in result:
    print(row['title'])

connection.close

NameError: name 'connnection' is not defined

In [ ]:
ins = 'INSERT INTO books (title, author, year) VALUES (?, ?, ?)'

In [5]:
ins = 'INSERT INTO books (ins, “The Weirdstone of Brisingamen”, “Ala Garner”, 1960)
ins = 'INSERT INTO books (ins, “Perdido Street Station”, “China Mieville”, 2000)
ins = 'INSERT INTO books (ins, “Thud!”, “Terry Pratchett”, 2005)
ins = 'INSERT INTO books (ins, “The Spellman Files”, “Lisa Lutz”, 2007)
ins = 'INSERT INTO books (ins, “Small Gods”, “Terry Pratchett”, 1992)

SyntaxError: unterminated string literal (detected at line 1) (1872864330.py, line 1)