11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. The, use the interactive interpreter to import zoo module and call its hours() function.

In [27]:
"""
Last modified on Wed Feb 21 13:09:04 2024
zoo.py
Author: Samantha Lopez
prints string that says "Open 9-5 daily"
"""

def hours():
    print("Open 9-5 daily")

In [28]:
import zoo

hours()

Open 9-5 daily

11.2 In the interactive interpreter, import the zoo module as menagerie ad call its hours() function.

In [29]:
import zoo as menagerie

hours()

Open 9-5 daily

In [45]:
import csv


lines = [
    "title,author,year\n",
    "The Weirdstone of Brisingamen,Alan Garner,1960\n",
    "Perdido Street Station,China Miéville,2000\n",
    "Thud!,Terry Pratchett,2005\n",
    "The Spellman Files,Lisa Lutz,2007\n",
    "Small Gods,Terry Pratchett,1992\n"
]

with open('books2.csv', 'w', newline='', encoding='utf-8') as file:
    file.writelines(lines)

print("Echo: File 'books2.csv' has been created successfully.")

Echo: File 'books2.csv' has been created successfully.

In [51]:
conn = sqlite3.connect('books.db')

cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS books (
               title VARCHAR(20),
               author VARCHAR(20),
               year INT
               )''')

conn.commit()
conn.close()

print("Table created successfully.")

Table created successfully.

In [60]:
import csv
import sqlite3

conn = sqlite3.connect('books.db')

cur = conn.cursor()

with open('books2.csv', 'r', newline='', encoding='utf-8') as file:
    csv_reader = csv.reader(file)
    next(csv_reader, None)
    for row in csv_reader:
        title, author, year = row
conn.commit()

cur.execute("SELECT * FROM books")
rows = cur.fetchall()

for row in rows:
    print(row)

conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [50]:
from sqlalchemy import create_engine, MetaData, Table as sa
from sqlalchemy.orm import sessionmaker as sm

db_url = 'sqlite:///books.db'

engine = create_engine(db_url)

Session = sm(bind=engine)

session = Session()

metadata = MetaData()
metadata.reflect(bind=engine)

book_table = metadata.tables['books']
query = session.query(book_table.c.title).order_by(book_table.c.title.asc())

titles = query.all()
for title in titles:
    print(title[0]) 

session.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

Bug Report: Okay. So, looking over what I wrote in class, the first thing that stood out to me was I was missing a cursor to execute the sql. So, I decided to go back and do 68.1 and 68.2 separately. I also messed up initially by putting the for row in rows (I was trying to create an echo) after where I closed the connection. I definitely don't have this from memory yet.